<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonline</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">


    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
</head>
<body>

    <div class="header">
        <img src="{{url_for('static', filename='logo.png')}}" id="logo">
        <div class="header-content">
            Welcome to the discussion board!
            <form action = "/" method = "post" id="usernameform" class="username">
                Please enter your username:
                <input type="text" id="username" name="username" value="" maxlength="28" style="outline: none;">
                <input type = "submit" value="Submit">
            </form>
        </div>
    </div>
        
    <div class="board", id="board">
    
        {% for i in text.split('\n') if not i.split('--:::::--')[0] == '' %}
            <div class="message"><span class='timestamp'>{{ i.split('--:::::--')[0] }}:&nbsp</span>{{ i.split('--:::::--')[1] }}</div>
        {% endfor %}

    </div>

    <form action = "/" method = "post" id="commentform" class="footer">
        <input type="hidden" name="username" value="{{username}}">
        <input type="text" id="comment" name="comment" value="" autocomplete="off">
        <input type = "submit" id="sendbutton" value="">
    </form>

</body>
</html>