<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Information</title>
    <style>

        body {
            text-align: center;
            background-color: lightblue;   
            color: red;
        }
        
    </style>
</head>
<body>


    <h1>Birthday Information</h1>
    <p>My date of birth is: {{dob}}
    <p>Today is: {{today}}
    <p>Next Birthday: {{next_birthday}}
    <p>Days to next birthday: {{days_to_birthday}}
    <p>Age at next birthday {{age}}

        
    
</body>
</html>