<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            background-color: rgb(224, 255, 245);
        }

        p {
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 25px;
        }
    </style>

</head>
<body>
    <p>Welcome, {{name}}</p>
    <img src="L6 LT1\Mr. Lomax\flask\greet.jpg" alt="img" width="500" height="600">
    
</body>
</html>